<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading"></div>

            <a class="nav-link" [routerLink]="['/admin/edit']">
                <div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
                profile
            </a>

            <div class="sb-sidenav-menu-heading"></div>
            <a class="nav-link" [routerLink]="['/admin/demandeur']">
                <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                Demandeurs
            </a>
           
            <a class="nav-link" [routerLink]="['/admin/type']">
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Type Ressources
            </a>
            <a class="nav-link" [routerLink]="['/admin/res']">
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Ressources
            </a>
            <!--a class="nav-link" [routerLink]="['/admin/sm']">
                <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                Spécialitées 
            </a-->
            <a class="nav-link" [routerLink]="['/admin/reserve']">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Réservation
            </a>
        </div>
    </div>
    
</nav>